language: php
sudo: required
dist: trusty
group: edge
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - hhvm # on Trusty only
  - nightly

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install

script: vendor/bin/phpunit --coverage-text

after_success:
  - bash <(curl -s https://codecov.io/bash)
