<?xml version="1.0"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="tests/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        syntaxCheck="false"
        verbose="true"
        >
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="default">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>